<h1>Список транзакций <%= @anc %></h1>
<p id="links">
  <span><%= link_to 'Добавить новую запись', new_income_path %></span>
  <span><%= link_to 'На главную', controller: "home", action: "index" %></span>
</p>
<table>
  <thead>
    <tr>
      <th>Основная категория:</th>
      <th>Наименование:</th>
      <th>Величина:</th>
      <th>Действия:</th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <% @cat_names.each do |cat_name| %>
            <% if  income.category_id == cat_name.id %>
                <td><%= cat_name.name %></td>
            <% end %>
        <% end %>
        <td><%= link_to income.name, incomes_path(i_name: income.name) %>
        <td><%= income.cost %></td>
        <td>
          <%= link_to 'Редактировать', edit_income_path(income) %>
          <%= link_to 'Удалить', income, method: :delete, data: { confirm: 'Вы уверены?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>