<h1>Transactions list <%= @anc %></h1>
<p id="links">
  <span><%= link_to 'Add new Income/expence', new_income_path %></span>
  <span><%= link_to 'Home', controller: "home", action: "index" %></span>
</p>
<table>
  <thead>
    <tr>
      <th>Main category:</th>
      <th>Name:</th>
      <th>Amount:</th>
      <th>Actions:</th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <% @cat_names.each do |cat_name| %>
            <% if  income.category_id == cat_name.id %>
                <td><%= cat_name.name %></td>
            <% end %>
        <% end %>
        <td><%= link_to income.name, controller: "incomes", action: "index", i_name: income.name %>
        <td><%= income.cost %></td>
        <td>
          <%= link_to 'Edit', edit_income_path(income) %>
          <%= link_to 'Delete', income, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>