<p id="notice"><%= notice %></p>

<p>
  <strong>Пользователь:</strong>
  <%= @income.user_id %>
</p>

<p>
  <strong>Категория:</strong>
  <%= @income.category_id %>
</p>

<p>
  <strong>Имя транзакции:</strong>
  <%= @income.name %>
</p>

<p>
  <strong>Значение:</strong>
  <%= @income.cost %>
</p>

<%= link_to 'Редактировать', edit_income_path(@income) %> |
<%= link_to 'Назад', incomes_path %>
