<%= form_for(@report) do |f| %>
    <div class="datefield_from">
      <%= f.label 'Начало периода' %><br>
      <%= f.text_field :date_from, :id => "date_from", :name => "date_from" %>
    </div>
    <div class="datefield_to">
      <%= f.label 'Конец периода' %><br>
      <%= f.text_field :date_to, :id => "date_to", :name => "date_to" %>
    </div>
    <div class="actions">
      <%= f.submit "Получить" %>
    </div>
<% end %>
<script>
    $('#date_to, #date_from').datepicker({format: 'yyyy-mm-dd', changeYear: true});
</script>