<h1>View report over a period</h1>

<%= render 'form' %>

<div id="report">
    <% if @in_incomes %>
        <p>All your <b>Incomes</b> by period from <br /><%= @date_from.to_date %> to <%= @date_to.to_date %></p>
        <p><b><%= @in_sum %></b></p><br />
    <% end %>
    <% if @out_incomes %>
        <p>All your <b>Expences</b> by period from <br /><%= @date_from.to_date %> to <%= @date_to.to_date %></p>
        <p><b><%= @out_sum %></b></p><br />
    <% end %>
</div>