<h1>Перечень категорий</h1>
<p id="links">
  <span><%= link_to 'Create category', new_category_path %></span>
  <span><%= link_to 'Home', controller: "home", action: "index" %></span>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Income/Expence</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <% if category.is_income == 1 %>
            <td>Incomes</td>
        <% else %>
            <td>Expences</td>
        <% end %>
        <td>
          <%= link_to 'Edit', edit_category_path(category) %>
          <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
