<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div id="user_nav">
  <% if user_signed_in? %>
    You signed in as <%= current_user.email %>.
    <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
</div>
      <div class="main_menu">
        <span>|</span><%= link_to ' Categories ', categories_path %>
        <span>|</span><%= link_to ' Incomes ', incomes_path(in_out: 1) %>
        <span>|</span><%= link_to ' Expences ', incomes_path(in_out: 2) %>
        <span>|</span><%= link_to ' Reports ', controller: "report", action: "index" %>
        <span>|</span>
      </div>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Log in", new_user_session_path %>
      </div>
  <% end %>

<% flash.each do |name, msg| %>
    <% content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>
</div>
</body>
</html>
