<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if user_signed_in? %>
    Вы вошли как <%= current_user.email %>. Ошибка?
    <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
       <div>
          <%= link_to 'Категории', categories_path %>
          <%= link_to 'Доходы', incomes_path(in_out: 1) %>
          <%= link_to 'Расходы', incomes_path(in_out: 2) %>
       </div>
  <% else %>
    <%= link_to "Зарегистрироваться", new_user_registration_path %> или <%= link_to "Войти", new_user_session_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
    <% content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
